body {
  font-family: 'Nunito', sans-serif;
  background-color: #FFFFFF;
  text-align: justify;
}
footer {
  margin-top: 20px;
  padding: 48px 0 66px 0;
  background-color: #F0F0F0;
}
.button-next, .button-back {
  cursor: pointer;
  border-radius: 100px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 2.67px;
  text-align: center;
  padding: 12px 87px;
  margin: 32px 0 24px 0;
  font-weight: 900;
}
.button-next {
  background: #FEA410;
  border: 1px solid #FEA410;
}
.button-back {
  background: #0095FF;
  border: 1px solid #0095FF;
}
